{% extends 'publicbase.html.twig' %}

{% block navbar %}{% endblock %}

{% block body %}

{{ form_start(form) }}
<div class="row">
    <div class="container col-md-8" style="padding-left: 5%; padding-right: 5%">
        <h2>Vaše OBJEDNÁNÍ</h2>
        <br>
        {{ dump(kosik) }}
        <br>


        <table class="table">
            <tbody>

            <tr>
                <td>Jméno</td>
                <td> {{ form_widget(form.name) }}<br>
                    {{ form_errors(form.name) }}</td>
            </tr>
            <tr>
                <td>Příjmení</td>
                <td> {{ form_widget(form.surname) }}<br>
                    {{ form_errors(form.surname) }}</td>
            </tr>
            <tr>
                <td>E-mail</td>
                <td> {{ form_widget(form.email) }}<br>
                    {{ form_errors(form.email) }}</td>
            </tr>
            <tr>
                <td>Telefon</td>
                <td> {{ form_widget(form.telephone) }}<br>
                    {{ form_errors(form.telephone) }}</td>
            </tr>
            <tr>
                <td><h5>Adresa, na kterou Vám tašku doručíme:</h5></td><td></td>
            </tr>
            <tr>
                <td>Ulice a č.p.</td>
                <td> {{ form_widget(form.street) }}<br>
                    {{ form_errors(form.street) }}</td>
            </tr>
            <tr>
                <td>Město</td>
                <td> {{ form_widget(form.city) }}<br>
                    {{ form_errors(form.city) }}</td>
            </tr>

            <tr>
                <td>PSČ</td>
                <td> {{ form_widget(form.zipcode) }}<br>
                    {{ form_errors(form.zipcode) }}</td>
            </tr>

            <tr>
                <td>Země</td>
                <td> {{ form_widget(form.country) }}<br>
                    {{ form_errors(form.country) }}</td>
            </tr>
            <tr>
                <td><h5>Forma platby:</h5></td>
                <td>{{ form_widget(form.payment) }}<br>
                    {{ form_errors(form.payment) }}
                    Cena: <span id="cenazaplatbu">0</span>,- Kč</td>
            </tr>
            <tr>
                <td><h5>Forma dopravy:</h5></td>
                <td>{{ form_widget(form.shipping) }}<br>
                    {{ form_errors(form.shipping) }}
                    Cena: <span id="cenazadopravu">69</span>,- Kč</td>
            </tr>
            <tr>
                <td><h5>Chcete nám sdělit ještě něco?</h5></td>
                <td>{{ form_widget(form.message) }}<br>
                    {{ form_errors(form.message) }}</td>
            </tr>
            </tbody>
        </table>


        {{ form_widget(form) }}
        <button class="btn btn-success">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}

    </div>
    <div class="container col-md-4">
        <h4>Vaše objednávka:</h4>
        {% for item in kosik %}
        {{ item.name }}, cena: {{ item.price }}, počet: {{ item.amount }}<br>
{% endfor %}
    </div>
</div>
{% endblock %}