{% extends 'base.html.twig' %}

{% block title %}Objednávky{% endblock %}

{% block body %}
    <h1>Objednávky</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Příjmení</th>
                <th>Jméno</th>
                <th>Město</th>

                <th>Zboží</th>
                <th>Stav objednávky</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objednani in objednanis %}
            <tr>
                <td>{{ objednani.id }}</td>
                <td>{{ objednani.surname }}</td>
                <td>{{ objednani.name }}</td>
                <td>{{ objednani.city }}</td>



                <td>{% for item in objednani.products %}
                        {{ item.name }}, {{ item.amount }} ks<br>
                {% endfor %}
                <p style="font-weight: bold">Zboží za {{ objednani.totalPrice }},- Kč</p> </td>
                <td>{{ objednani.stavObjednavky }}</td>
                <td>
                    <a href="{{ path('objednani_show', {'id': objednani.id}) }}">show</a>
                    <a href="{{ path('objednani_edit', {'id': objednani.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('objednani_new') }}">Create new</a>
{% endblock %}
