{% extends 'publicbase.html.twig' %}

{% block title %}Váš nákup{% endblock %}

{% block body %}
<style>
    body {background-color: white}
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: white; padding: 2px 6px; }
</style>

{% if kosik is empty %}
    <div class="jumbotron" style="margin-top: 15%">
        <h3>Váš košík je prázdný!</h3>
        <h4>Pojďte ho naplnit:)</h4>
        <a href="{{ path('catalogue') }}" class="btn btn-outline-info" style="margin: 5px 20px 20px 20px">Produkty</a>
    </div>

    {% else %}
<div class="container col-6" style="margin-top: 5%">
    <h1>    <img src="{{ asset('images/basket2.png') }}" width="40" height="40" alt=""> Obsah Vašeho košíku:</h1>
    <table class="table table-sm">
        <thead>
        <tr>
            <td style="font-weight: bold">Název produktu</td>
            <td style="font-weight: bold">Cena</td>
            <td style="font-weight: bold">Počet</td>
            <td style="font-weight: bold">Změnit počet</td>
            <td style="font-weight: bold">Celková cena</td>
        </tr>

        </thead>
        <tbody>
        {% for item in kosik %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.amount }}</td>
                <td>
                    <a href="{{ path('kosik_amountplus', {'id': item.id})}}" class="btn btn-light btn-sm" style="background-color: #73A605; color: floralwhite"> + </a>
                    <a href="{{ path('kosik_amountminus', {'id': item.id}) }}" class="btn btn-danger btn-sm" style="background-color: tomato"> - </a>
                </td>
                <td>{% set celkem = item.price * item.amount %}{{ celkem }}</td>
            </tr>
        {% endfor %}
        </tbody>

    </table>
<div class="row">
    <div class="col-md-4">
        <a href="{{ path('catalogue') }}" class="btn btn-light my-2 my-sm-0" style="background-color: #73A605; color: floralwhite; width: 12em; margin: 5px">Pokračovat v nákupu</a><br>
    </div>
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <a href="{{ path('objednani_new') }}" class="btn btn-light my-2 my-sm-0" style="background-color: #73A605; color: floralwhite; width: 10em; margin: 5px;
">Přejít k platbě</a><br>
        <a href="{{ path('kosik_empty') }}" class="btn btn-light my-2 my-sm-0" style="background-color: #73A605; color: floralwhite; width: 10em; margin: 5px;
">Vyprázdnit košík</a><br>
    </div>
</div>
   </div>


{% endif %}


{% endblock %}
