{% extends 'homepage/index.html.twig' %}


{% block title %}Produkt{% endblock %}

{% block body %}
    <div class="container" style="padding: 5%">

        <h1>Produkt {{ product.name }}</h1>

        <table class="table">
            <tbody>

            <tr>
                <th>Název produktu:</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Popis:</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Cena:</th>
                <td>{{ product.price }},- Kč</td>
            </tr>
            <tr>
                <th>Na skladě</th>
                <td>{{ product.instock }} kusů</td>
            </tr>
            </tbody>
        </table>

        <a href="{{ path('novaobjednavka', {'id': product.id}) }}" class="btn btn-primary">Koupit produkt</a>

    </div>


{% endblock %}