{% extends 'base.html.twig' %}

{% block title %}Objednavka index{% endblock %}

{% block body %}
    <h1>Objednavka index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Telephone</th>
                <th>Name</th>
                <th>Surname</th>
                <th>Street</th>
                <th>City</th>
                <th>Psc</th>
                <th>Poznamka</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for objednavka in objednavkas %}
            <tr>
                <td>{{ objednavka.id }}</td>
                <td>{{ objednavka.email }}</td>
                <td>{{ objednavka.telephone }}</td>
                <td>{{ objednavka.name }}</td>
                <td>{{ objednavka.surname }}</td>
                <td>{{ objednavka.street }}</td>
                <td>{{ objednavka.city }}</td>
                <td>{{ objednavka.psc }}</td>
                <td>{{ objednavka.poznamka }}</td>
                <td>
                    <a href="{{ path('objednavka_show', {'id': objednavka.id}) }}">show</a>
                    <a href="{{ path('objednavka_edit', {'id': objednavka.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('objednavka_new') }}">Create new</a>
{% endblock %}
